*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(196, 235, 253);
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    height: 100vh;
}

.counter{

    flex-wrap: wrap;
    text-align: center;
    font-size: 28px;
    font-weight: 600;
    color: rgb(21, 165, 28);
    
}


.input{
    font-size: 50px;
    color: black;
}

button{
    margin-top: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 8px 26px;
    margin-right: 10px;
    background: transparent;
    border: 1.75px solid black;
    border-radius: 5px;
}

#decrease{
    transition: all 100ms ease-in-out ;
}

#increase{
    transition: all 100ms ease-in-out ;
}

#decrease:hover{
    border: 1.75px solid red;
    scale: 1.10;
}

#increase:hover{
    border: 1.75px solid rgb(61, 201, 43);
    scale: 1.10;
}

#reset{
    transition: all 100ms ease-in-out ;
}

#reset:hover{
    border: 1.75px solid rgb(46, 212, 204);
    scale: 1.10;
}